#arr-table-main th > :not(:last-child), #arr-table-main tr > :not(:last-child) {
	width: fit-content;
}

#arr-table-main th > :last-child, #arr-table-main tr > :last-child {
	width: 100%;
}

#arr-table-main tr select {
	width: fit-content;
}

#arr-table-main tfoot button {
	width: fit-content;
}

#arr-table-main tfoot td {
	padding-left: 10px;
	background-color: var(--vscode-keybindingTable-headerBackground);
}
